.modal__window {
  display: block;
  position: relative;
  z-index: 1000;
  background: transparent;
  overflow: hidden;
}
.modal__shade {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-out 0s;
}
.none {
  display: none;
}

.modal__shade.active {
  transition: all 0.3s ease-out 0s;
  opacity: 1;
  background: rgba(0, 0, 0, 0.64) none repeat scroll 0% 0%;
}
.modal__basket {
  transform: translateX(430px);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 430px;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: rgb(243, 243, 247) none repeat scroll 0% 0%;
}

.modal__basket.active {
  transform: translateX(0px) !important;
}

.modal__basket_empty_text {
  font-size: 14px;
  font-weight: 500;
}
.basket__item {
  background-color: #fff;
  margin: 0 0 8px 0;
  padding: 12px 16px;
}
.basket__item_top {
  border-bottom: 1px solid rgb(226, 226, 233);
  padding-bottom: 12px;
}
.basket__item_image {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}
.section {
  padding: 0 16px;
}

.basket__title {
  font-size: 24px;
  font-weight: 500;
  margin: 18px 0 4px 0;
}
.basket__btn_close {
  margin: 0;
  padding: 0;
  border: medium none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  text-align: center;
}

.basket__item_description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.basket__item_description_title {
  margin-bottom: 6px;
}
.basket__item_description_title_text {
  color: #000;
  font-size: 16px;
}
.basket__item_description_text {
  font-size: 12px;
  font-weight: 400;
  color: rgb(92, 99, 112);
}

.basket__item_bottom {
  padding: 16px 0 0 0;
}

.basket__item_bottom_total-price {
  font-weight: 500;
}
.basket__item_bottom_btn_section {
  color: #5c6370;
  background-color: rgb(243, 243, 247);
  border-radius: 100px;
  padding: 0 4px;
}
.basket__item_bottom_btn_section > button {
  background: transparent;
  border: none;
}
.basket__item_bottom_btn_section > button:hover > svg > g,
.basket__item_bottom_btn_section > button:hover > svg > rect {
  fill: #000;
}
.basket__item_bottom_btn_section > * {
  padding: 4px 10px 6px 10px;
}
.basket__footer {
  padding: 12px 18px;
  background-color: #fff;

  box-shadow: rgba(6, 5, 50, 0.1) 0px -2px 4px;
}
.basket__footer_total,
.basket__footer_sum_block {
  display: flex;
  justify-content: space-between;
}
.basket__footer_total {
  font-weight: 700;
  font-size: 12px;

  border-bottom: 1px solid rgb(226, 226, 233);
}
.basket__footer_sum {
  font-weight: 700;
  font-size: 16px;
  margin: 12px 0;
}
.basket__footer_total_block_left {
  margin-bottom: 8px;
}
.button-arrow {
  position: absolute;
  right: 10px;
  top: calc(50% - 13px);
}
.btn_close {
  position: absolute;
  top: calc(50% - 24px);

  width: 50px;
  height: 50px;
  background: none;
  border: none;
  z-index: 1100;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 500ms ease 0s, right 0.3s ease-out 0s;
}
.btn_close:hover {
  transform: scale(1.1) rotate(180deg);
}
.modal__shade.active .btn_close {
  right: 440px;
}
.modal__shade .btn_close {
  right: -100px;
}

.empty_image {
  width: 308px;
  height: auto;
}
