.navbar__svg {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #fff;
  margin-left: 1rem;
  position: relative;
}
.navbar__svg::before {
  display: block;
  content: '';
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: -8px;
}
.navbar__basket_btn {
  display: flex;
  background-color: var(--accent-color);
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  padding: 12px 24px;
  align-items: center;
  border: none;
}
