:root {
  --accent-color: #fe6020;
}

.price {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.navbar__svg {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #fff;
  margin-left: 1rem;
  position: relative;
}
.navbar__svg::before {
  display: block;
  content: '';
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: -8px;
}
