.price {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.product__btn_add {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 0.8rem;
  border-radius: 12px;
  padding: 0.2rem 0.6rem;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.product__btn_add:hover {
  color: #fff;
  background-color: var(--accent-color);
}
.product__btn_add b {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0 0.2rem;
}
.product__btn_add span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  background-color: var(--accent-color);
  color: #fff;
  margin: 0 0.2rem;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.product__btn_add:hover span {
  background-color: #fff;
  color: var(--accent-color);
}
