.filtered_items-burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -120px;
  left: 50px;
  z-index: 100;
  transform: scaleY(0);
  transition: all 0.3s ease;
  background-color: #fff;
}
.filtered_items-burger > div {
  margin-top: 10px;
}
.filtered_items-burger.active {
  top: -10px;
  transform: scaleY(1);
}
