:root {
  --accent-color: #ff6900;
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
svg path {
  fill: inherit;
}
.roboto-l {
  font-weight: 300;
}
.roboto-r {
  font-weight: 400;
}
.roboto-sb {
  font-weight: 500;
}
.roboto-b {
  font-weight: 700;
}
.fs-08 {
  font-size: 0.8rem;
}
.fs-09 {
  font-size: 0.9rem;
}
.p-02 {
  padding: 0.2rem;
}
.p-04 {
  padding: 0.4rem;
}

.btn_accent {
  border: none;
  outline: none;
  border-radius: 9999px;

  padding: 12px 0;
  background-color: var(--accent-color);

  font-size: 16px;
  color: #fff;
  text-align: center;
}
